@use "../common//variables.scss" as *;

.gameWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dialogWrapper {
    position: fixed;
    top: 5%;
    left: calc(50% - 16rem);
    width: 32rem;
    padding: $spacing-2;
    border-radius: $radius-md;
    border: 1px solid rgba($color-primary-200, 0.2);
    background: rgba($color-dark-400, 0.5);
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $spacing-px $spacing-1 $spacing-1 $spacing-1;

    p {
        font-size: 14px;
        font-weight: 600;
    }
}

.dialogCloseButton {
    opacity: 0.9;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    img {
        width: 2rem;
        height: 2rem;
    }
}

.dialogOpenButton {
    position: fixed;
    left: 1%;
    border-radius: $radius-md;
    border: 1px solid rgba($color-primary-200, 0.2);
    background: rgba($color-dark-400, 0.5);
    padding: $spacing-2;
    opacity: 0.9;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    img {
        width: 2rem;
        height: 2rem;
    }
}

.shipRow {
    display: flex;
    align-items: center;
    gap: $spacing-1;
    margin-top: $spacing-1;
    margin-left: $spacing-1;

    img {
        width: 1rem;
        height: 1rem;
    }

    progress {
        width: 100%;
        height: 0.45rem;
        border-radius: $radius-full;
        border: 1px solid rgba($color-light-400, 0.5);
        background: rgba($color-dark-100, 0.5);
        color: var(--progress-color);
    }

    progress::-webkit-progress-bar {
        background: rgba($color-dark-100, 0.5);
        border-radius: $radius-full;
    }

    progress::-webkit-progress-value {
        border-radius: $radius-full;
        background: var(--progress-color);
    }
}

.healthProgress {
    --progress-color: #22c55e;
    accent-color: #22c55e;
}

.shieldProgress {
    --progress-color: #3b82f6;
    accent-color: #3b82f6;
}

.abilityProgress {
    --progress-color: #a855f7;
    accent-color: #a855f7;
}

.statisticsTable {
    width: 100%;

    .nameColumn {
        padding-left: $spacing-2;
        text-align: left;
    }

    th {
        background: rgba($color-light-400, 0.2);
        color: $color-primary-500;
        padding: $spacing-1;
        border-radius: $radius-sm;
    }

    tr {
        padding: $spacing-1;
        text-align: center;
    }
}

.tutorialRowsWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    padding: $spacing-1;
}

.tutorialRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    opacity: 0.85;

    b {
        margin-left: $spacing-2;
        padding: 2px $spacing-1;
        font-size: 16px;
        border-radius: $radius-md;
        background: rgba($color-primary-400, 0.15);
        color: $color-primary-400;
        letter-spacing: 1px;
    }
}
